# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json


# Import API key
from google_key import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
input_data_file = "output_data/cities.csv"
Cities_data_df = pd.read_csv(input_data_file, sep=",")
Cities_data_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Houma,29.60,-90.72,80.01,83,40,20.80,US,1587338858
1,Kpandu,7.00,0.29,78.49,77,99,5.55,GH,1587338858
2,Bluff,-46.60,168.33,54.00,72,78,5.99,NZ,1587338859
3,Punta Arenas,-53.15,-70.92,42.80,78,20,23.04,CL,1587338827
4,Buraidah,26.33,43.98,71.60,56,40,10.29,SA,1587338859
...,...,...,...,...,...,...,...,...,...
553,Takoradze,4.88,-1.76,81.64,82,100,7.56,GH,1587339004
554,Kidal,18.44,1.41,86.61,12,71,8.99,ML,1587339004
555,Ulladulla,-35.35,150.47,59.00,67,100,5.82,AU,1587339005
556,Corrales,35.24,-106.61,71.01,20,75,12.75,US,1587339005
557,Matagami,49.75,-77.63,14.00,61,1,13.87,CA,1587338850

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key = g_key)
#print(g_key)

In [6]:
locations = Cities_data_df[['Lat','Lng']]
humidity = Cities_data_df['Humidity']
max_humidity = Cities_data_df['Humidity'].max()

fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=humidity, max_intensity=max_humidity))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [ ]:
# Narrow down the DataFrame to find your ideal weather condition. For example:

#  * A max temperature lower than 80 degrees but higher than 70.
#  * Wind speed less than 10 mph.
#  * Zero cloudiness.

#  * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

In [7]:
# Let's look for ideal temperatures

Ideal_temps_df = Cities_data_df.loc[(Cities_data_df['Max Temp']<80) & (Cities_data_df['Max Temp']>70)]
len(Ideal_temps_df)

124

In [8]:
# Wind less than 10

Ideal_wind_df = Ideal_temps_df.loc[(Cities_data_df['Wind Speed']<10)]
len(Ideal_wind_df)

88

In [9]:
# Zero Cloudiness
# Sorry. 0 cloudiness let only 9 locations. Incrementing upwards until there's at least 10.

Ideal_clouds_df = Ideal_wind_df.loc[(Cities_data_df['Cloudiness']<2)]
len(Ideal_clouds_df)

11

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
hotel_df = Ideal_clouds_df
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
12,Ballina,-28.87,153.57,71.60,56,0,8.05,AU,1587338823
142,Taoudenni,22.68,-3.98,77.97,21,0,6.42,ML,1587338895
231,BayjÄ«,34.93,43.49,70.68,46,0,1.66,IQ,1587338919
292,Mayor Pablo Lagerenza,-19.93,-60.77,76.39,49,0,4.61,PY,1587338935
296,Adrar,20.50,-10.07,75.76,18,0,6.55,MR,1587338858
331,Laguna,38.42,-121.42,71.01,48,1,6.93,US,1587338903
364,Bhisho,-32.85,27.44,76.32,35,1,9.93,ZA,1587338953
369,Bogale,16.28,95.40,74.26,90,0,2.82,MM,1587338954
484,San Juan,-31.54,-68.54,75.69,31,0,7.09,AR,1587338796
502,Victoria Point,-27.58,153.30,73.00,60,0,1.01,AU,1587338990
550,Coolum Beach,-26.53,153.10,72.00,66,0,3.00,AU,1587339003

In [11]:
#let's reindex this
hotel_df.index=range(len(hotel_df))
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Ballina,-28.87,153.57,71.60,56,0,8.05,AU,1587338823
1,Taoudenni,22.68,-3.98,77.97,21,0,6.42,ML,1587338895
2,BayjÄ«,34.93,43.49,70.68,46,0,1.66,IQ,1587338919
3,Mayor Pablo Lagerenza,-19.93,-60.77,76.39,49,0,4.61,PY,1587338935
4,Adrar,20.50,-10.07,75.76,18,0,6.55,MR,1587338858
5,Laguna,38.42,-121.42,71.01,48,1,6.93,US,1587338903
6,Bhisho,-32.85,27.44,76.32,35,1,9.93,ZA,1587338953
7,Bogale,16.28,95.40,74.26,90,0,2.82,MM,1587338954
8,San Juan,-31.54,-68.54,75.69,31,0,7.09,AR,1587338796
9,Victoria Point,-27.58,153.30,73.00,60,0,1.01,AU,1587338990
10,Coolum Beach,-26.53,153.10,72.00,66,0,3.00,AU,1587339003

In [12]:
# add the Hotel Name column.
hotel_df['Hotel Name']=""
hotel_df

C:\Users\Steph\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Ballina,-28.87,153.57,71.60,56,0,8.05,AU,1587338823,
1,Taoudenni,22.68,-3.98,77.97,21,0,6.42,ML,1587338895,
2,BayjÄ«,34.93,43.49,70.68,46,0,1.66,IQ,1587338919,
3,Mayor Pablo Lagerenza,-19.93,-60.77,76.39,49,0,4.61,PY,1587338935,
4,Adrar,20.50,-10.07,75.76,18,0,6.55,MR,1587338858,
5,Laguna,38.42,-121.42,71.01,48,1,6.93,US,1587338903,
6,Bhisho,-32.85,27.44,76.32,35,1,9.93,ZA,1587338953,
7,Bogale,16.28,95.40,74.26,90,0,2.82,MM,1587338954,
8,San Juan,-31.54,-68.54,75.69,31,0,7.09,AR,1587338796,
9,Victoria Point,-27.58,153.30,73.00,60,0,1.01,AU,1587338990,
10,Coolum Beach,-26.53,153.10,72.00,66,0,3.00,AU,1587339003,

In [13]:
# set some target params
target_radius = 5000
target_type = "lodging"

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for i in hotel_df.index:
    target_coordinates = hotel_df['Lat'][i].astype(str) + "," + hotel_df['Lng'][i].astype(str)

    params = {
      "location": target_coordinates,
      "radius": target_radius,
      "type": target_type,
      "key": g_key
    }
    
    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    places_data = response.json()
    
#    print(i)
#    print(response.url)
    
    try:
    # record the hotel name
        hotel_df['Hotel Name'][i] = places_data["results"][0]["name"]
    except IndexError:
        print(f"No hotels in vicinity for {hotel_df['City'][i]}.\n")
        hotel_df['Hotel Name'][i] = "None"

C:\Users\Steph\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Steph\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

No hotels in vicinity for Taoudenni.

C:\Users\Steph\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

No hotels in vicinity for Mayor Pablo Lagerenza.

No hotels in vicinity for Adrar.

In [14]:
#check to make sure the hotel names were saved.
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Ballina,-28.87,153.57,71.60,56,0,8.05,AU,1587338823,Ramada Hotel & Suites by Wyndham Ballina Byron
1,Taoudenni,22.68,-3.98,77.97,21,0,6.42,ML,1587338895,None
2,BayjÄ«,34.93,43.49,70.68,46,0,1.66,IQ,1587338919,Ù‚Ø±ÙŠÙ‡ Ø¬Ø¯ÙŠØ¯Ù‡
3,Mayor Pablo Lagerenza,-19.93,-60.77,76.39,49,0,4.61,PY,1587338935,None
4,Adrar,20.50,-10.07,75.76,18,0,6.55,MR,1587338858,None
5,Laguna,38.42,-121.42,71.01,48,1,6.93,US,1587338903,Holiday Inn Express & Suites Elk Grove Central...
6,Bhisho,-32.85,27.44,76.32,35,1,9.93,ZA,1587338953,RUACH MANOR
7,Bogale,16.28,95.40,74.26,90,0,2.82,MM,1587338954,Aung Pin Lel Guest House
8,San Juan,-31.54,-68.54,75.69,31,0,7.09,AR,1587338796,Hotel Provincial
9,Victoria Point,-27.58,153.30,73.00,60,0,1.01,AU,1587338990,Bay Retreat Motel
10,Coolum Beach,-26.53,153.10,72.00,66,0,3.00,AU,1587339003,Coolum Beach Resort

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# let's find the max humidity
max_humidity = hotel_df['Humidity'].max()

In [17]:
# Add marker layer ontop of humidity heat map

humidity = hotel_df['Humidity']

fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=humidity, max_intensity=max_humidity))
fig.add_layer(gmaps.marker_layer(locations, info_box_content=hotel_info))

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))